.themeIcon {
  width: 40px;
  height: 40px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center
}

.form-container {
  padding: 20px;
  height: auto;
}